<div class="auth-form">
  <h2 class="auth-form-header">
    Sign up
  </h2>
  <div class="data-block">
    <div>
      <p>Name:</p>
      <input type="text" [(ngModel)]="name" />

      <p>Email:</p>
      <input type="text" [(ngModel)]="email" />

      <p>Login:</p>
      <input type="text" [(ngModel)]="login" />

      <p>Password:</p>
      <input type="password" [(ngModel)]="password" />

      <p>Repeat password:</p>
      <input type="password" [(ngModel)]="repeatPassword" />
    </div>

    <div>
      <div class="data-submit-wrapper">
        <button (click)="onSignUp()">
          Sign up
        </button>
      </div>

      <div class="change-form">
      <span class="change-form-text" (click)="changeAuthType()">
        Already have an account? Sign in
      </span>
      </div>
    </div>
  </div>
</div>
