<div class="card-container">
  <h2>{{authorUser.name}}</h2>
  <p class="about-author">
    {{authorUser.description}}
  </p>
  <div class="articles-data">
    <p class="articles-count">
      Total articles: {{authorUser.articlesIds.length}}
    </p>
<!--    TODO: Create list of articles of an author later -->
<!--    <div *ngIf="isArticlesShown; then hideArticlesSpan else showArticlesSpan"></div>-->
<!--    <ng-template #showArticlesSpan>-->
<!--      <span class="toggle-articles-text" (click)="toggleShowArticles()">-->
<!--        Show articles-->
<!--      </span>-->
<!--    </ng-template>-->
<!--    <ng-template #hideArticlesSpan>-->
<!--      <span class="toggle-articles-text" (click)="toggleShowArticles()">-->
<!--        Hide articles-->
<!--      </span>-->
<!--    </ng-template>-->
<!--  </div>-->
<!--  <div class="author-articles" *ngIf="isArticlesShown">-->
<!--    <app-author-article-card-->
<!--      *ngFor="let article of articles"-->
<!--      [article]="article"-->
<!--    ></app-author-article-card>-->
  </div>
</div>
