.card-container {
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 20px;
  box-shadow: 0 1px 10px 1px #9b9b9b4a;

  h2 {
    color: #3b3b3b;
  }
}

.author-name {
  color: #646464;
}

.article-description {
  color: #7a7a7a;
  font-size: 0.9em;
  margin-top: 25px;
  margin-bottom: 20px;
}
