.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-logo-wrapper {
  background-color: #1B57CFFF;
  padding: 5px;
  color: #FFFFFF;
  height: 50px;
  line-height: 50px;
}

.mobile-menu-toggle {
  display: none;
  margin-left: 10px;
  font-size: 2em;
}

.mobile-menu-toggle:before {
  content: '☰';
}

.top-menu {
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  display: flex;
  height: 50px;
  box-shadow: 0 5px 10px 2px #9b9b9b4a;
  flex-direction: row;
  justify-content: space-between;
  transition: .3s;

  &-elements-wrapper {
    display: flex;
    flex-direction: row;
    line-height: 50px;
  }

  &-element {
    color: #606060;
    width: 100px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    transition: .3s;

    &:hover {
      color: #558eef;
      cursor: pointer;
    }
  }

  &-auth {
    line-height: 50px;
    padding-right: 25px;
    padding-left: 25px;
    transition: .3s;

    &:hover {
      background-color: #1B57CFFF;
      color: #ffffff;
      cursor: pointer;
    }
  }
}

.main-content {
  margin-left: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 80%;
}

.account-actions {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.account-action {
  cursor: pointer;
  color: #565656;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 1.2em;
  transition: 300ms;

  &:hover {
    color: #1e1e1e;
  }

  &.sign-out-action {
    color: #ff0000;
    margin-top: 30px;

    &:hover {
      color: #860000;
    }
  }
}

footer {
  width: 100%;
  background-color: #777777;
  margin-top: auto;

  h2 {
    color: #ffffff;
    font-size: 1.6em;
  }

  .footer-content {
    padding: 50px;
  }

  .footer-info-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
  }

  .footer-info-block:not(:first-child) {
    margin-left: 75px;
  }

  .footer-info-block {
    color: #ffffff;
  }

  .footer-link {
    margin-top: 5px;
    cursor: pointer;
    color: #d2d2d2;
    text-decoration: none;
  }

  .footer-row {
    margin-top: 5px;
    color: #d2d2d2;
  }

  .footer-link:hover {
    margin-top: 5px;
    cursor: pointer;
    color: #ffffff;
  }

  .footer-links-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 0.9em;
  }

  .footer-category-header {
    font-size: 1.2em;
    font-weight: 700;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.6em;
  }

  .mobile-menu-toggle {
    display: block;
    cursor: pointer;
  }

  nav {
    display: none;
    flex-direction: column;
  }

  .top-menu.open {
    height: auto;
  }

  .top-menu.open .top-menu-elements-wrapper {
    flex-direction: column;
  }

  .top-menu.open .top-menu-elements-wrapper nav {
    background-color: #ffffff;
    position: fixed;
    margin-top: 50px;
    display: block;
    box-shadow: 0 5px 10px 2px #9b9b9b4a;
    border-radius: 5px;
    width: 300px;
  }

  .top-menu.open .top-menu-element {
    width: 90%;
    display: block;
    padding-left: 15px;
    padding-right: 0;
    text-align: left;
  }

  .main-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    h2 {
      font-size: 1.3em;
    }

    .footer-category-header {
      font-size: 1em;
    }

    .footer-content {
      padding: 20px;
    }

    .footer-links-container {
      margin-top: 10px;
    }

    .footer-info-container {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }

    .footer-link, .footer-row {
      font-size: 0.8em;
    }

    .footer-info-block:not(:first-child) {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}
