<div class="page-wrapper">
  <div class="top-logo-wrapper">
    <h1>Science Archive</h1>
  </div>
  <div class="top-menu" [ngClass]="{'open': isMobileMenuOpen}">
    <div class="top-menu-elements-wrapper">
      <a
        class="mobile-menu-toggle"
        (click)="onToggleMenu()"
      >
      </a>
      <nav>
        <span
          (click)="onCloseMenu()"
          class="top-menu-element"
          routerLink="articles"
        >
          Articles
        </span>
        <span
          (click)="onCloseMenu()"
          class="top-menu-element"
          routerLink="categories"
        >
          Categories
        </span>
        <span
          (click)="onCloseMenu()"
          class="top-menu-element"
          routerLink="authors"
        >
          Authors
        </span>
        <span
          (click)="onCloseMenu()"
          class="top-menu-element"
          routerLink="news"
        >
          News
        </span>
      </nav>
    </div>
    <div
      *ngIf='isAuthorized; else notAuthorizedBlock'
      class='top-menu-auth'
      (click)='onOpenDrawer()'
    >
      {{currentUser?.login}}
    </div>
    <ng-template #notAuthorizedBlock>
      <div
        class="top-menu-auth"
        routerLink="/auth"
      >
        Sign in
      </div>
    </ng-template>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>

<app-side-drawer
  [title]="currentUser?.login ?? ''"
  [isOpen]="isShowAccountDrawer"
  (onClose)="onCloseDrawer()"
>
  <div class="account-actions">
    <span class="account-action" routerLink="/account/profile">My Profile</span>
    <span class="account-action" routerLink="/account/articles">My Articles</span>
    <span class="account-action sign-out-action" (click)="onSignOut()">Sign Out</span>
  </div>
</app-side-drawer>
