<div class="auth-form">
  <h2 class="auth-form-header">
    Sign in
  </h2>
  <div class="data-block">
    <div>
      <p>Login or Email:</p>
      <input type="text" [(ngModel)]="login" />

      <p>Password:</p>
      <input type="password" [(ngModel)]="password" />
    </div>

    <div>
      <div class="data-submit-wrapper">
        <button (click)="onSignIn()">
          Sign in
        </button>
      </div>

      <div class="change-form">
      <span class="change-form-text" (click)="onChangeAuthType()">
        Don't have an account? Sign up
      </span>
      </div>
    </div>
  </div>
</div>
