.card-container {
  margin-bottom: 50px;
}

.news-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.news-body {
  color: #6c6c6c;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.9em;
}
